<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <!-- Button to clear the cart -->
    <form method="POST" action="{% url 'clear_cart' %}">
        {% csrf_token %}
        <button type="submit">Clear Cart</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Order Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Grand Total:<br><br>{{ grand_total }}</th>
        </tr>
    </table>
    <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        <label for="table_number">Table Number:</label>
        <input type="text" id="table_number" name="table_number">
        <button type="submit">Checkout</button>
    </form>
</body>
</html>

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 10px; /* Adjust the vertical spacing between rows */
        width: 100%;
    }

    th, td {
        padding: 10px; /* Adjust the padding inside cells */
        border: 1px solid #ddd;
        text-align: left;
    }
</style>