<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
{% include 'dashboard.html' %}
<body>
    <h1>Order Table</h1>
    <table>
        <thead>
            <tr>
                <th>Table ID</th>
                <th>Supplier</th>
                <th>Menu Item</th>
                <th>Date</th>
                <th>Order ID</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.table_id }}</td>
                <td>{{ order.supplier.name }}</td>
                <td>{{ order.menu.item }}</td>
                <td>{{ order.order_date.order_date }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.qty }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.order_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Grand Total:<br><br>{{ grand_total }}</th>
        </tr>
    </table>
</body>
</html>

<script>
    // Function to reload the page after a specified time interval
    function reloadPage() {
        setTimeout(function() {
            location.reload();
        }, 150000); // 2.5 minutes = 150000 milliseconds
    }

    // Call reloadPage function when the page loads
    window.onload = function() {
        reloadPage();
    };
</script>